# 将 api.your-domain.com 和 admin.your-domain.com 替换为你的真实域名
# 当前项目默认使用：api.ideotrack.cc.cd / admin.ideotrack.cc.cd
ideotrack.cc.cd {
  reverse_proxy api:3000
}

admin.ideotrack.cc.cd {
  reverse_proxy web:3001
}
